<div class="title" (click) = "nextTitle()">{{currentTitle}}</div>

<div class="numbersContainer">
<ul>
  <li *ngFor="let number of numbers">{{number | number}} </li>
</ul>
</div>

<div class="inputContainer">
<button class="startOver" (click) = "clear()">Start Over</button>
<input placeholder="Enter a number" (keyup.enter)="submit($event)"/>
<button class="calculate" (click) = "calcMax()">CALCULATE!</button>
<div class="prompt"> Hit "ENTER"!</div>
</div>
<div class="minNumber">MIN: {{min}}</div>
<div class="maxNumber">MAX: {{max}}</div>
<div class="meanNumber">MEAN: {{fixedMean}}</div>
<div class="modeNumber">MODE: {{mode}}</div>
