/* You can add global styles to this file, and also import other style files */
  *{
  button:focus {outline:0;}

  box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
}

html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}
/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}

input:focus {outline:none;}

body{
  margin: 0 !important;
  padding: 0 !important;
  background: #FF5733;
}

.title{
  width:100%;
  height:50px;
  font-size: 120%;
  text-align: left;
  padding-left: 5%;
  padding-top: 1%;
  background: #FFC300;
  color:white;
  text-shadow: 1px 1px 1px black;
  box-shadow: 1px 1px 20px darkred;
}

/*Numbers*/

.numbersContainer{
  color:white;
  width:60%;
  height:100px;
  margin: auto;
  margin-top: 7%;
  overflow: scroll;
}

ul{
  text-align: center;
  overflow:auto;
}

li{
  display: inline-block;
  margin-right: 5%;
  font-size: 200%;
  text-shadow: 1px 1px 1px black;
}

/*Numbers*/

/*Input Area*/

.inputContainer{
  text-align: center;
  margin-top: 5%;
}

input{
  text-align: center;
  border:1px solid white;
  height: 50px;
  width: 25%;
}

button:hover{
  color:#FFC300;
}

.startOver{
  height: 50px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  background: white;
  border:17px solid white;
  margin-right: -.5%;
  color: grey;
}

.calculate{
  height: 50px;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  background: white;
  border:17px solid white;
  margin-left: -.5%;
  color:grey;
}

.prompt{
  color:white;
  margin-top: 1%;
  text-shadow: 1px 1px 1px black;
}

/*Input Area*/

/*Answer Area*/

.maxNumber{
  height:250px;
  width:20%;
  text-align: center;
  font-size: 200%;
  margin-right: 4%;
  margin-top: 3.5%;
  padding-top: 8%;
  background: #37FF86;
  color:white;
  border-radius: 5px;
  text-shadow: 1px 1px 1px black;
  float:right;
}

.meanNumber{
  height:250px;
  width:20%;
  text-align: center;
  font-size: 200%;
  margin-right: 4%;
  margin-top: 3.5%;
  padding-top: 8%;
  background: #37D1FF;
  color:white;
  border-radius: 5px;
  text-shadow: 1px 1px 1px black;
  float:right;
}

.modeNumber{
  height:250px;
  width:20%;
  text-align: center;
  font-size: 200%;
  margin-right: 4%;
  margin-top: 3.5%;
  padding-top: 8%;
  background: #FFA0F3;
  color:white;
  border-radius: 5px;
  text-shadow: 1px 1px 1px black;
  float:right;
}

.minNumber{
  height:250px;
  width:20%;
  text-align: center;
  font-size: 200%;
  margin-left: 4%;
  margin-top: 3.5%;
  padding-top: 8%;
  background: #F8FF5F;
  color:white;
  border-radius: 5px;
  text-shadow: 1px 1px 1px black;
  float:left;
}
